header{
    width: 100%;
}

body {
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.barra-menu img{
    display: flex;
    width: 150px;             
    height: auto;
    margin-left: 5px;
}



.barra-menu {
    background-color: #f4f4f4f0;
    position: fixed; 
    height: 80px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    display: flex;                 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.barra-menu nav{
    display: flex;
    align-items: center;
    gap: 30px;
}


.buscador-menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 20px;
    width: 400px;
    height: 27px;
}

.buscador-menu input {
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.buscador-menu i {
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}

.barra-menu ul li{
    margin-right: 0px;
}


.barra-menu nav ul li{
    list-style: none;
}
.barra-menu nav ul{
    display: flex;
    align-items: center;   
}















/* ===== Dropdown Mi Cuenta ===== */

.user-menu {
    position: relative;
}

.user-btn {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 15px 18px;
}

.user-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    min-width: 150px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    border-radius: 6px;
    padding: 5px 0;
    z-index: 3000;
}

.user-menu .dropdown li {
    list-style: none;
}

.user-menu .dropdown li a {
    display: block;
    padding: 10px 15px !important;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.user-menu .dropdown li a:hover {
    background: #f2f2f2;
}

/* Mostrar al pasar el mouse */
.user-menu:hover .dropdown {
    display: block;
}

.user-menu .dropdown li a {
    padding: 8px 12px !important;
    font-size: 14px;
    height: auto;
}






















.btn-carrito {
    background: #c6df00;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    padding: 10px 18px ;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight:lighter; 
    display: inline-block;
    margin-right: 40px;
    margin-left: 15px;
    text-decoration: none;
    transition: 0.2s ease;
}

.btn-carrito:hover {
    background-color: #e8e8e8;
}


.barra-menu li a{
    color: rgb(16, 16, 16);
    text-align: center; 
    padding: 15px 18px !important;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    align-items: center;     
    justify-content: center; 
    height: 40px;   
    transition: 0.2s ease;         
}

.barra-menu li a:hover {
    text-decoration: #ccc;
}

.contacto {
  padding: 60px 80px;
  text-align: center;
}

.contacto h2 {
  font-size: 35px;
  margin-bottom: 30px;
  color: #80B918;
}

.form-contacto {
  max-width: 500px;
  margin: 0 auto;
  background: #eae9e98f;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px #00000025;
}

.grupo-input {
  text-align: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.grupo-input label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444;
}

.form-contacto input{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0px solid #ccc;
  background: #ffffff;
  font-size: 16px;
}

.form-contacto textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 0px solid #ccc;
  background: #ffffff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-contacto textarea {
  height: 130px;
  resize: none;
}

.btn-enviar {
  width: 100%;
  padding: 12px;
  background: #80B918;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-enviar:hover {
  background: #6ba012;
}





footer{
    list-style: none;
    display: flex;
    padding: 100%;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: flex-start;
    background-color: #f4f4f4e2;
    border-top: 2px solid #f4f4f4e4; 
    margin-top: auto;
}

footer h4{
    list-style: none;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 16px;
}

.parte-abajo ul {
  list-style: none;
  padding-left: 0; 
  margin: 0;
}


.parte-abajo ul li a{
    text-decoration: none;
    color:#18181874 ;
    text-align: left;
}

.redes h4{
    font-size: 16px;
    font-weight: bold;
}

.redes ul {
  display: flex;           
  align-items: center;
  gap: 15px;               
  list-style: none;        
  padding: 0;
}
 
.redes li a i {
color: #18181894;
}
 ul li a:hover{
  color: #000000a8; 
 }

  ul li a i:hover{
  color: #000000ae; 
 }

li{
    list-style: none;
}







.slogan{
    color: #81b918bb;
    font-family:'Times New Roman', Times, serif; 
    display: flex;
    align-items: center;       
    gap: 15px;                
    border-left: 1px solid #131313;
    padding-left: 50px;
    margin-left: 20px;
}

.slogan img {
  width: 100px;             
  height: auto;
}


.slogan span{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight:bolder;
    font-size: 40px;
}

.slogan p{
    padding: 40px;
    font-size: 20px;
    margin: 0;
    flex-wrap: wrap;
    max-width: 700px;
}