header{
    width: 100%;
}

body {
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


.barra-menu img{
    display: flex;
    width: 150px;             
    height: auto;
    margin-left: 5px;
}



.barra-menu {
    background-color: #f4f4f4f0;
    position: fixed; 
    height: 80px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    display: flex;                 
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.barra-menu nav{
    display: flex;
    align-items: center;
    gap: 30px;
}


.buscador-menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 5px 12px;
    border-radius: 20px;
    width: 400px;
    height: 27px;
}

.buscador-menu input {
    flex: 1;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
}

.buscador-menu i {
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
}

.barra-menu ul li{
    margin-right: 0px;
}


.barra-menu nav ul li{
    list-style: none;
}
.barra-menu nav ul{
    display: flex;
    align-items: center;   
}


















/* ===== Dropdown Mi Cuenta ===== */

.user-menu {
    position: relative;
}

.user-btn {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 15px 18px;
}

.user-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    min-width: 150px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    border-radius: 6px;
    padding: 5px 0;
    z-index: 3000;
}

.user-menu .dropdown li {
    list-style: none;
}

.user-menu .dropdown li a {
    display: block;
    padding: 10px 15px !important;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

.user-menu .dropdown li a:hover {
    background: #f2f2f2;
}

/* Mostrar al pasar el mouse */
.user-menu:hover .dropdown {
    display: block;
}

.user-menu .dropdown li a {
    padding: 8px 12px !important;
    font-size: 14px;
    height: auto;
}
























.btn-carrito {
    background: #c6df00;
    color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    padding: 10px 18px ;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight:lighter; 
    display: inline-block;
    margin-right: 40px;
    margin-left: 15px;
    text-decoration: none;
    transition: 0.2s ease;
}

.btn-carrito:hover {
    background-color: #e8e8e8;
}


.barra-menu li a{
    color: rgb(16, 16, 16);
    text-align: center; 
    padding: 15px 18px !important;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    align-items: center;     
    justify-content: center; 
    height: 40px;   
    transition: 0.2s ease;         
}

.barra-menu li a:hover {
    text-decoration: #ccc;
}








.imagen-principal{
    height: 100vh;
width: 100%;
}

.imagen-principal img {
    height: 100vh;  
    width: 100%;
}

.imagen-principal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.201); 
    pointer-events: none;
}











footer{
    list-style: none;
    display: flex;
    padding: 100%;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: flex-start;
    background-color: #f4f4f4e2;
    border-top: 2px solid #f4f4f4e4; 
    margin-top: auto;
}

footer h4{
    list-style: none;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 16px;
}

.parte-abajo ul {
  list-style: none;
  padding-left: 0; 
  margin: 0;
}


.parte-abajo ul li a{
    text-decoration: none;
    color:#18181874 ;
    text-align: left;
}

.redes h4{
    font-size: 16px;
    font-weight: bold;
}

.redes ul {
  display: flex;           
  align-items: center;
  gap: 15px;               
  list-style: none;        
  padding: 0;
}
 
.redes li a i {
color: #18181894;
}
 ul li a:hover{
  color: #000000a8; 
 }

  ul li a i:hover{
  color: #000000ae; 
 }

li{
    list-style: none;
}







.slogan{
    color: #81b918bb;
    font-family:'Times New Roman', Times, serif; 
    display: flex;
    align-items: center;       
    gap: 15px;                
    border-left: 1px solid #131313;
    padding-left: 50px;
    margin-left: 20px;
}

.slogan img {
  width: 100px;             
  height: auto;
}


.slogan span{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight:bolder;
    font-size: 40px;
}

.slogan p{
    padding: 40px;
    font-size: 20px;
    margin: 0;
    flex-wrap: wrap;
    max-width: 700px;
}


/*@media (max-width: 728px) {
  footer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  header {
        font: size 5.5rem;;
    }
}

footer > div {
  flex: 1 1 200px; 
}

header > div {
    flex: 1 1 200px;
}*/











.info-seccion {
    padding: 60px 80px; 
    margin-bottom: -60px;
}

.info-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #9bc15417;
    border-radius: 18px;
}

.info-texto {
    flex: 1;
    padding: 30px;
}

.info-texto h4 {
    color: #10111051;
    font-size: 18px;
    margin-bottom: 15px;
}

.info-texto h1 {
    font-size: 45px;
    color: #80B918;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-texto p {
    line-height: 1.6;
    color: #545e40;
    font-size: 18px;
    margin-bottom: 10px;
}


.info-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}











.testimonios-seccion {
    position: relative;
    width: 100%;
    height: 520px;
    background-image: url("../assets/image.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 90px;
    margin-bottom: 30px;
}

.testimonios {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #323b2156; 
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.comentarios {
    position: relative;
    text-align: center;
    color: white;
    max-width: 700px;
    padding: 20px;
    font-weight: bold;
}

.comentarios h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.comentarios h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 15px;
}

.comentarios p {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.estrellas {
    font-size: 70px;
    color: gold;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.btn-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.btn-comentarios li {
    padding: 10px 20px;
    background: #C6DB15;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: 0.2s ease;
    width: auto;
    max-width: 200px;
}


.btn-comentarios li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px; 

}

.btn-comentarios li:hover {
    background-color: #e8e8e8;
}

.btn-comentarios a:hover{
    color: #ffffff;
}












.info-extra {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.info-card {
    width: 260px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 20px #0000001e;
    transition: 0.3s ease;
}

.info-card:hover {
    box-shadow: 0 6px 25px #00000028;
}


.info-card i {
    font-size: 45px;
    color: #80B918;
    margin-bottom: 15px;
}

.info-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-card p {
    font-size: 15px;
    color: #444;
}














.Sobre-el-proyecto {
  padding: 50px 8%;
}

.info-leafy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}


.columna {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Sobre-el-proyecto h2 {
  font-size: 40px;
  color: #80B918;
  margin-bottom: 20px;
  grid-column: span 2;
  text-align: left;
  margin-bottom: 40px;
}

.Sobre-el-proyecto h3 {
  font-size: 26px;
  color: #81a53e;
  margin-bottom: 10px;
}

.Sobre-el-proyecto p {
  font-size: 16px;
  line-height: 1.7;
  color: #5a5a5a;
  margin-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}












